<html>


	<head>
		<!-- HEAD SECTION -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        	<script src="_libs/angular.min.js"></script>
		
			<script src="js/createAccountCtrl.js"></script>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		
	
		</head>
		
		<body ng-app>
		
		
		
		<form class="" ng-controller="createAccountCtrl">
		<legend class="btn btn-success">Create Account</legend>
		
		<div class="form-group">
		<label for="name">Username</label>
		<input class="form-control" type="text" name="name" id="name"
		placeholder="name" ng-model="username"><br/>
		</div>
		
		<div class="form-group">
		<label for="amount">Amount</label>
		<input class="form-control" type="text" name="amount" id="amount"
		placeholder="$" ng-model="amount"><br/>
		</div>
				
		<div class="form-group btn btn-success">
	<input  type="submit" class="btn btn-success pull-left" 
	id="submit" value="create" ng-click="create()">
		</div>
				
						
				</form>
		
	
		
			</div>
		</div>
		</container>
			
		</body>
				
		
	</html>