<!doctype html>
<html ng-app  ng-Controller="MapCtrl">
  <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
           <script src="js/gmaps.js"></script>
         <script src="js/angular.min.js"></script>
          <!-- Google Maps JS API -->
    <script src="https://maps.googleapis.com/maps/api/js?key="></script>
    <!-- GMaps Library -->
 
         <script src="js/MapCtrl.js"></script>
    <style>
      #map {
        width: 100vw;
        height: 100vh;
      }
    </style>
  </head>
  <body >
    <div id="map"></div>

  </body>
</html>
