<!doctype html>
<html ng-app >
  <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
                <script   src="https://code.jquery.com/jquery-1.12.4.js"   integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="   crossorigin="anonymous"></script>
                   <script src="js/angular.min.js"></script>
        
         <script src="js/MapCtrl.js"></script>
    <style>
      #map {
        width: 100vw;
        height: 100vh;
      }
    </style>
  </head>
  <body  ng-Controller="MapCtrl" >
    <div id="map"></div>
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyngLmBuOYL-9FHM3LlWCfkJNgan9YzFs"></script>
    <!-- GMaps Library -->
     <script src="js/gmaps.js"></script>
      <script>
      /* Map Object */
  
    </script>
 

  </body>
    
      
          <!-- Google Maps JS API -->

</html>
